.multi_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.multi_content {
  box-sizing: content-box;
  background-color: rgb(240, 240, 240);
  height: 35px;
  padding: 1.25rem 1.25rem;
  display: flex;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(60, 60, 60);
  border-radius: 0.25rem;
}

.multi_words {
  overflow: hidden;
}

.gal-one {
  color: #f64f59;
}
.gal-two {
  color: #c471ed;
}
.gal-three {
  color: #12c2e9;
}

span {
  display: block;
  height: 100%;
  padding-left: 0.5rem;
  animation: words 6.5s infinite;
}

@keyframes words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
