.contact {
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--dark);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
}

.contact__nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.contact__nav .contact__nav__link:not(:last-child) {
  margin-right: 3.5rem;
}

.contact__nav__link {
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact__nav__link:hover {
  color: var(--light);
}

.contact__nav__link:active {
  transform: scale(0.95);
}

.contact__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contact__content__header h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--light);
  cursor: default;
}

.contact__content__header p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--white);
  cursor: default;
}

.contact__touch {
  background-color: var(--light);
  color: var(--white);
  border: 2.5px solid var(--dark);
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  margin-bottom: 1.25rem;
}

.contact__touch:hover {
  border: 2.5px solid var(--light);
  background-color: var(--dark);
}

.contact__touch:active {
  transform: scale(0.95);
}

.contact__port {
  background-color: var(--white);
  color: var(--light);
  border: 2.5px solid var(--dark);
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1.25rem;
  transition: all 0.3s;
  text-decoration: none;
}

.contact__port:hover {
  border: 2.5px solid var(--white);
  background-color: var(--dark);
}

.contact__port:active {
  transform: scale(0.95);
}

.contact__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  .contact__nav {
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .contact__nav .contact__nav__link:not(:last-child) {
    margin-right: 0;
  }

  .contact {
    padding: 1.5rem;
  }

  .contact__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .contact__content__header p {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact__content__header h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .contact__links {
    align-items: center;
  }
}

@media screen and (max-width: 370px) {
  .contact__nav {
    justify-content: space-evenly;
    font-size: 0.75rem;
  }
}
