::-webkit-scrollbar {
  display: none;
}

.gallery {
  min-height: 100vh;
  background-color: var(--dark);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
}

.gallery__nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.gallery__nav .gallery__nav__link:not(:last-child) {
  margin-right: 3.5rem;
}

.gallery__nav__link {
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.gallery__nav__link:hover {
  color: var(--light);
}

.gallery__nav__link:active {
  transform: scale(0.95);
}

.gallery__content {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2.5rem;
}

.gallery__content__header p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--white);
  cursor: default;
}

.gallery__content__header h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--light);
  cursor: default;
}

.gallery__content__projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}

.gallery__content__projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.25s all;
}

.gallery__content__projects__project:hover {
  transform: scale(1.025);
}

.gallery__content__projects__project img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: none;
}

.gallery__content__projects__project__data {
  background-color: var(--white);
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.gallery__content__projects__project__data a {
  background-color: var(--light);
  color: var(--white);
  border: 2.5px solid var(--white);
  width: 50%;
  text-align: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.gallery__content__projects__project__data a:hover {
  border: 2.5px solid var(--light);
  color: var(--light);
  background-color: var(--white);
}

.gallery__content__projects__project__data a:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
  .gallery__content__projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .gallery__content__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .gallery__nav {
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .gallery__nav .gallery__nav__link:not(:last-child) {
    margin-right: 0;
  }

  .gallery {
    padding: 1.5rem;
  }

  .gallery__content__projects {
    margin-top: 1.5rem;
  }

  .gallery__content__header p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .gallery__content__header h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 370px) {
  .gallery__nav {
    justify-content: space-evenly;
    font-size: 0.75rem;
  }

  .gallery__content__projects__project__data {
    padding: 0.5rem 0;
  }

  .gallery__content__projects__project__data a {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  .gallery__content__header p {
    margin-top: 1rem;
  }
}
