.settings {
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--dark);
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
}

.settings__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.settings__content__header p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--white);
  cursor: default;
}

.settings__content__header h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--light);
  cursor: default;
}

.settings__content__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 20%;
  width: 50%;
}

.languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  font-size: 1.75rem;
  color: var(--white);
}

.language {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.15s;
}

.language:hover {
  transform: scale(1.05);
}

.language:active {
  transform: scale(0.95);
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.color {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255);
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.15s;
}

.color:hover {
  transform: scale(1.05);
}

.color:active {
  transform: scale(0.95);
}

.blue {
  background-color: RGB(17, 138, 178);
}

.red {
  background-color: RGB(239, 71, 111);
}

.purple {
  background-color: RGB(212, 175, 55);
}

.green {
  background-color: RGB(6, 214, 160);
}

.active {
  opacity: 1;
}

@media screen and (max-width: 1001px) {
  .languages {
    width: 40%;
  }

  .colors {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .settings {
    padding: 1.5rem;
  }

  .settings__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .settings__content__header p {
    font-size: 1.5rem;
    text-align: center;
  }

  .settings__content__header h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .settings__content__options {
    align-items: center;
  }

  .colors {
    width: 60%;
  }
}

@media screen and (max-width: 521px) {
  .languages {
    width: 60%;
  }

  .colors {
    width: 80%;
  }
}

@media screen and (max-width: 370px) {
  .languages {
    width: 80%;
  }

  .colors {
    width: 100%;
  }
}
